.login-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.888);
    padding: 10px;
}

.form-input {
    border: 1px solid #ced4da;
    padding: 0.5rem;
    font-size: 1rem;
    width: 90%;

}

.login-card .form-label {
    font-weight: 600;
}

.login-card input {
    border-radius: 0.25rem;
}

.login-card .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.login-card .btn-primary {
    background-color: #0056b3;
    border: none;
}

.login-card .btn-secondary {
    background-color: #dc3545;
    border: none;
}

.login-card .text-primary {
    color: #0056b3;
}

.login-card .text-secondary {
    color: #6c757d;
}

/* hover fx */

a.text-primary:hover {
    text-decoration: underline;
}

a.text-secondary:hover {
    text-decoration: underline;
}