.search-btn{
    flex: 0 0 30%;
    cursor: pointer;
}

.filter-section {
    background-color: #ffffff;
    color: black;
}

/* Task 3: Customize dropdown filters */

.age-range-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dropdown-filter {
    border: 1px solid #ced4dab1;
    margin-bottom: 1rem;
    align-self: center;

}

/* Task 4: Style the age range slider */
.age-range-slider {
    width: 70%;
}

/* Task 5: Enhance search results cards appearance */
.search-results {
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-results:hover {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    cursor: pointer;

}

.card-body {
    cursor: pointer;
    padding: 1rem;
}

.no-found-card {
    cursor: pointer;
}
