
/* Task 1: Style the body */


body {
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./home-background.jpg');
    background-size: cover;
    background-position: center;
}



/* Task 3: Style the content area */
.container {
    position: relative;
    font-size: 600;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.174), rgba(33, 143, 183, 0.201));
    border-radius: 20px;
    overflow-x: hidden;
}

/* Task 4: Add styles for headings, paragraphs, and buttons */
.lead {
    margin-bottom: 2rem;
    color: #a2d4c4;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-style: italic;
}

h1, h2 {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 0.7em;
    
}

.btn-primary {
    background-color: #3ed9d4;
    border: none;
    padding: 1rem 2.5rem;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #4d7aa1;
    transform: translateY(10px);
    transform: scale(1.05);
    

}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .lead {
        font-size: 1.25rem;
    }
}