/* Task 1: Style the body */
body {
    font-family: 'Monserrat', 'sans-serif';
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Task 2: Create a pseudo-element for the background and blur */
body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 'url("./static/home-background.jpg") no-repeat center center/cover';
    filter: blur(8px);
}

/* Task 3: Style the content area */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #333;
    max-width: 100%;
    padding: 20px;
    background-color: #ffffff5f;
}

/* Task 4: Add styles for headings, paragraphs, and buttons */
h1, h2, .lead, .btn-primary {
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5rem;
    text-align: center;
}

.lead {
    font-size: 1.25rem;
    margin-bottom: 30px;
    font-style: italic;
}