/* Style for image placeholder */
.image-placeholder-large {
    width: 700px;
    height: 700px;
    position: relative;
    background-color: #f0f0f0;

}

/* Style for product image */
.product-image-large {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    /* Task 3 styling */
    display: flex;
    align-items: center;   
    justify-content: center;
    font-size: 0.8rem;
    color: #333;
    background-color: #ccc;

}

/* Style for card header */
.card-header {
    /* Task 4 styling */
    background-color: #007bff;
    margin-bottom: 1rem;
    color: #fff;
    padding: 15px;
    text-align: center;

}

/* Style for details title */
.details-title {
    /* Task 5 styling */
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    font-weight: bold;
}

/* Style for comments section */
.comments-section {
    /* Task 6 styling */
    margin-top: 2rem;
    padding: 0.5rem;
    width: 80%;
    color: #00000018;

}

.comments-section .card {
    margin-bottom: 1rem;
}

.comments-section .comment-author {
    font-weight: bold;
}

.comments-section .comment-text {
    margin-top: 0.5rem;
    color: #555;
}

@media (max-width: 768px) {
    .image-placeholder-large, .product-image-large, .no-image-available-large {
        width: 530px;
        height: auto;
    }
}